<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Liste</h1>
    {% if liste  %}
        <table>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Quantite</th>
            </tr>
            {% for element in liste %}
                <tr>
                    <td> <img src="{{ element.produit.illustration.url }}"></td>
                    <td>{{ element.produit.nomProduit }}</td>
                    <td>{{ element.quantite }}</td>
                    <td><a href="{% url 'moreQuantite' element.produit.nomProduit %}" >+</a></td>
                    <td><a href="{% url 'lessQuantite' element.produit.nomProduit %}" >-</a></td>
                    <td><a href="{% url 'deleteProductList' element.produit.nomProduit %}" >Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{% url 'addProduct' %}">Créer un produit</a>
    <a href="{% url 'addProductInList' %}">Ajouter un produit à la liste</a>
    <a href="{% url 'logout' %}">Déconnexion</a>
</body>
</html>
